.filter-container {
    background-color: rgb(88, 109, 166);
    border-radius: 4px;
}

.card-title {
    color: white !important;
    font-size: 14px;
    font-weight: 600;
}

.inner-text {
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.custom-button {
    background: rgb(104, 131, 215) !important;
    width: 100%;
}