.filter-container {
    background-color: rgb(88, 109, 166);
    border-radius: 4px;
}

.card-title {
    color: white !important;
    font-size: 14px;
    font-weight: 600;
}

.inner-text {
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.custom-button {
    background: rgb(104, 131, 215) !important;
    width: 100%;
}

.dropdown-container {
    height: 100px;
    width: 100%;
    overflow: auto;
}

.dropdown-list:hover {
    cursor: pointer;
    background: rgb(104, 131, 215) !important;
    color: white;
}

.cross-icon {
    color: darkgrey;
    position: relative;
    left: -10px;
    cursor: pointer;
    top: 4px;
    font-weight: 600;
}

.symbol-styles {
    text-align: center;
    border-radius: 4px;
    padding: 4px;
}

.remove-button {
    height: 30px;
    padding: 0px 3px !important;
    background: rgb(91, 128, 240) !important;
    border: none;
    color: white !important;
}

.custom-tooltip {
    height: 50px;
    color: white;
}

.custom-tooltip p {
    margin: 0;
}

.inactive {
    pointer-events: none;
    color: gray;
}